body {
    padding-top: 5rem;
}

#top-form, #bottom-form{
    margin-left: 10px;
}

#title{
    border-bottom: 4px solid black;
    font-weight: bold;
    font-size: 4em;
    
}

.required, .fields{
    display: inline;
}

.required{
    color: red;
    font-weight: bold;
}

.fields{
    font-weight: bold;
}


button{
    background-color: #007bff;
    margin: 4px;
    color:white;
}